---
network:
  bind_host: 0.0.0.0
  publish_host: {{ ansible_default_ipv4.address }}
path:
  logs: /usr/share/elasticsearch/logs
  data: /usr/share/elasticsearch/data
cluster:
  name: {{ cluster_name }}
node:
  #name: <NAME OF YOUR NODE>

  # select node role
  {% if 'data_nodes' in group_names %}
  ## data node only
  master: false
  data: true
  {% else if 'master_nodes' in group_names %}
  ## master node only
  master: true
  data: false
  {% else if 'client_nodes' in group_names %}
  ## search balancer
  master: false
  data: false
  {% else %}
  ## work as all roles
  master: true
  data: true
  {% endif %}

index: 
  number_of_shards: 5
  number_of_replicas: 3
bootstrap:
  # ElasticSearch performs poorly when JVM starts swapping: you should ensure that
  # it _never_ swaps.
  #
  # Set this property to true to lock the memory:
  #
  mlockall: true
discovery:
  zen:
    minimum_master_nodes: 3
    ping_timeout: 60s
    ping_retries: 4
    ping:
      multicast:
        enabled: false
      unicast:
        hosts:
        {% for host in groups['master_nodes'] %}
        {% if host != {{ ansible_default_ipv4.address }} %}
          - {{ hostvars[host]['ansible_default_ipv4']['address'] }}
        {% endif %}
        {% endfor %}
        {% for host in groups['masterdata_nodes'] %}
        {% if host != {{ ansible_default_ipv4.address }} %}
          - {{ hostvars[host]['ansible_default_ipv4']['address'] }}
        {% endif %}
        {% endfor %}