---
  - name : create es group
    group: name=elasticsearch gid=108 system=yes

  - name : create es user
    user: name=elasticsearch comment="Elasticsearch Daemon" uid=105 system=yes createhome=no group=elasticsearch groups=elasticsearch,docker

  - name : create data directory
    file: state=directory recurse=yes path=/mnt/elastic/data owner=elasticsearch group=docker mode=0774

  - name : create log directory
    file: state=directory recurse=yes path=/mnt/elastic/logs owner=elasticsearch group=docker mode=0774

  - name : create config directory
    file: state=directory recurse=yes path=/mnt/elastic/config owner=elasticsearch group=docker mode=0774

  - name : copy es config template
    template: src=elasticsearch.j2 dest=/mnt/elastic/config/elasticsearch.yml owner=elasticsearch group=docker mode=0774

  - name : copy es logging template
    template: src=logging.j2 dest=/mnt/elastic/config/logging.yml owner=elasticsearch group=docker mode=0774

  - name: elasticsearch container
    docker:
      name: esnode
      image: elasticsearch
      state: started
      ports:
        - 9200-9299:9200-9299
        - 9300-9400:9300-9400
      volumes:
        - /mnt/elastic/data:/usr/share/elasticsearch/data
        - /mnt/elastic/logs:/usr/share/elasticsearch/logs
        - /mnt/elastic/config:/usr/share/elasticsearch/config