---
  - name : Update packages
    yum: name=* state=latest

  - name : install selinux python lib
    yum: name=libselinux-python state=latest

  - name : Disable SELinux 
    selinux : state=disabled

  - name : Disable firewalld
    service: name=firewalld state=absent

  - name : install packages
    yum: name={{item}} state=latest
    with_items:
      - mlocate
      - java-1.8.0-openjdk
      - mysql-connector-java*
      - ntp
      - snappy
      - snappy-devel

  - name : create java lib directory
    file: path=/usr/share/java state=directory mode=0755 recurse=yes

  - name : copy oracle jdbc connector
    copy: src=/home/wschulz/libs/ojdbc6.jar dest=/usr/share/java/ojdbc6.jar owner=root group=root mode=0644

  - name : set umask
    shell: umask 0022 && echo umask 0022 >> /etc/profile

  - name : set ulimit
    shell: ulimit -n 10000

  - name : add SSH public key
    authorized_key: user=root key=https://github.com/wadeschulz.keys
