- hosts: all
  vars_files:
   - vars/repository_info.yml
   - vars/hdp.yml
  user : root
  roles:
   - init
   - repository

- hosts: ambari_agents
  user : root
  vars_files:
   - vars/users.yml
   - vars/hdp.yml
  roles:
   - user-creations

- hosts: ambari_server
  user : root
  vars_files:
   - vars/repository_info.yml
   - vars/hdp.yml
  roles:
   - ambari-server
